In [50]:
import pandas as pd
import numpy as np

origin_data = pd.read_csv('origin_data.csv')
origin_data = origin_data.drop(['humidity'], axis=1)
usable_data = origin_data[origin_data['STAT_CAUSE_CODE'] == 9]
usable_data = usable_data.drop(['STATE', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DOY', 'FIRE_SIZE_CLASS', 'LATITUDE', 'LONGITUDE'], axis=1)

humidity_data = pd.read_csv('humidity.csv', index_col='datetime')
pressure_data = pd.read_csv('pressure.csv', index_col='datetime')
temperature_data = pd.read_csv('temperature.csv', index_col='datetime')
wind_direction_data = pd.read_csv('wind_direction.csv', index_col='datetime')
wind_speed_data = pd.read_csv('wind_speed.csv', index_col='datetime')

humidities = []
pressures = []
temperatures = []
wind_directions = []
wind_speeds = []

times = len(usable_data.values)
for i in range(times):
    try:
        humidity = humidity_data.loc[usable_data.values[i][1], usable_data.values[i][0]]
    except:
        humidity = None
        
    try:
        pressure = pressure_data.loc[usable_data.values[i][1], usable_data.values[i][0]]
    except:
        pressure = None
        
    try:
        temperature = temperature_data.loc[usable_data.values[i][1], usable_data.values[i][0]]
    except:
        temperature = None
        
    try:
        wind_direction = wind_direction_data.loc[usable_data.values[i][1], usable_data.values[i][0]]
    except:
        wind_direction = None
        
    try:
        wind_speed = wind_speed_data.loc[usable_data.values[i][1], usable_data.values[i][0]]
    except:
        wind_speed = None
    
    humidities.append(humidity)
    pressures.append(pressure)
    temperatures.append(temperature)
    wind_directions.append(wind_direction)
    wind_speeds.append(wind_speed)

usable_data['Humidity'] = humidities
usable_data['Pressure'] = pressures
usable_data['Temperature'] = temperatures
usable_data['Wind_direction'] = wind_directions
usable_data['Wind_speed'] = wind_speeds
usable_data = usable_data.dropna(axis=0,how='any')

usable_data.to_csv('usable_data.csv')

        COUNTY_NAME    datetime  ...  Wind_direction  Wind_speed
20        Las Vegas   2012-12-2  ...      166.791667    4.291667
21        Las Vegas   2012-12-4  ...      191.458333    3.416667
36        San Diego   2012-11-5  ...      134.791667    0.791667
72        San Diego  2012-10-27  ...      147.708333    1.625000
104       San Diego   2012-10-3  ...      142.708333    1.083333
...             ...         ...  ...             ...         ...
3984        Houston   2015-9-22  ...      103.791667    2.041667
3985        Houston   2015-10-8  ...      113.541667    1.500000
3991      Charlotte   2015-9-18  ...       63.125000    2.000000
3992      Charlotte  2015-11-13  ...      285.000000    2.916667
3996  San Francisco    2015-7-3  ...      236.666667    4.375000

[1128 rows x 7 columns]